@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    color: #f7f1e3;
    padding: 0;
    margin: 0;
}

body {
    /*---- BACKGROUND IMAGE ----*/
    background: url("../img/gamble.jpg") center center fixed cornflowerblue;
    background-size: cover;
}


/*---- BACKGROUND GRADIENT----*/

.bgrad {
    z-index: -1;
    position: fixed;
    height: 100%;
    width: 100%;
    background: radial-gradient( circle, rgba(112, 111, 211, 0.8), rgba(64, 64, 122, 0.8));
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #40407a;
    width: 100vw;
    height: 5em;
}

.logo {
    padding: 1vh;
    height: 6vh;
}

.box {
    background-color: #40407a;
    border-radius: 1em;
    width: 59.9em;
    height: 30em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.players {
    display: flex;
    max-width: 90%;
    transform: translate(5%, 0);
}

.col {
    flex: 33.33%;
    padding: 15px;
}

.play {
    border-radius: 1em;
    background: #474787;
    text-align: center;
    padding: 30px;
}

.playText {
    font-size: 1.25em;
}

input,
select {
    border: #2c2c54 solid 2px;
    border-radius: 0.4em;
    height: 1.5em;
    background-color: #2c2c54;
    color: #f7f1e3;
    padding: 0.4em;
    transition: ease-in 0.3s;
}

.subm {
    width: 12em;
    height: 4em;
    transform: translate(0, 75%);
}

.btnPlay {
    height: 142.667px;
    background-color: transparent;
}

input:hover,
input:focus,
select:hover,
select:focus {
    background-color: #f7f1e3;
    color: #2c2c54;
    transition: ease-in 0.3s;
}

select {
    width: 10em;
    height: 2.5em;
}

#title,
#substr {
    color: #f7f1e3;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 2.5em;
}

#substr {
    font-size: 1em;
}

.playSelect {
    background-color: #5050ac;
    padding: 1em;
    margin-top: 2em;
    width: 20em;
}

.colEmp {
    min-width: 3em;
}

.btnCol {
    margin-top: -4em;
}